frontend/node_modules
frontend/client/build/bundle.js
frontend/client/build/bundle.js.map
frontend/client/node_modules
frontedn/client/images
frontend/Photos
frontend/Prototypes
frontend/clientAngular/images
frontend/clientAngular/node_modules