<div class="basket-container">
	<h1 *ngIf="!basketItems || !basketItems.length" class="basket-empty">Basket is empty.</h1>

	<h5>Items: {{basket.itemsCount}}</h5>
	<h6>Total Price: £{{basket.totalCost}}</h6>

	<div *ngIf="basketItems && basketItems.length" class="basket-items-container">
		<div class="basket-item-container" *ngFor="let item of basketItems">
			<div class="basket-photo-container">
				<img src="{{'images/main/' + item.product.image}}" alt="{{item.product.name}}">
				<h4>{{item.product.name}}</h4>
			</div>
			<div class="basket-item-info">
					<p>Quantity: {{item.quantity}}</p>
					<p>£{{item.cost}}</p>
			</div>
			<button type="button" (click)="basket.removeFromBasket(0, item.product)">
				Remove
			</button>
		</div>
	</div>

	<button class="basket-checkout" (click)="goToCheckout()">
		CHECKOUT
	</button>
</div>




