<div>
    <article>
        <h2>Delivery Policy</h2>
        <p>
            All products are shipped discreetly in a brown box with absolutely no indication as to the contents. All goods 
            that are dispatched are sent by a recorded insured service. This means goods will not be left on the door step 
            or with neighbors. UK:- Goods are dispatched by the choice you select during checkout Royal Mail:
            If you are not in when the parcel arrives they will keep the package at their local depot for 7 days 
            enabling you to pick it up. After 7 days the parcel then returns to us. Delivery takes 1-3 days. DPD Courier:
            If you are not in when the parcel arrives they will keep the package at their local depot for 5 days
            enabling you to pick it up. After 5 days the parcel then returns to us. Delivery takes 1-2 days.
            Southern Ireland:- Goods are dispatched by Royal Mail Recorded delivery if the parcel weighs less than 2kg.
            Over 2kg then goods are sent via DPD Courier International. Delivery takes 3-5 days.
            Europe:- Goods are dispatched by Royal Mail Recorded delivery if the parcel weighs less than 2kg. 
            Over this weight then goods are sent via DPD Courier International. Delivery takes 3-5 days. Rest of World:-
            Goods are dispatched by Royal Mail Recorded delivery if the parcel weighs less than 2kg. Over
            this weight then goods are sent via DPD Courier International. Delivery takes 3-5 days. BFPO
            (British Forces Post Office):- Goods are dispatched by Royal Mail Recorded delivery. Delivery takes 3-5 days.";
        </p>
    </article>
</div>
