<!-- Footer -->
<div>
    <div class="agileinfofooter-grids">
  
      <div style="padding-left:5%;" class="col-md-4 agileinfofooter-grid agileinfofooter-grid1">
        <ul>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          <li><a routerLink="/policy/termscoditions" routerLinkActive="active">Terms & Conditions</a></li>
          <li><a routerLink="/policy/privacypolicy" routerLinkActive="active">Privacy Policy</a></li>
          <li><a routerLink="/policy/returnspolicy" routerLinkActive="active">Returns Policy</a></li>
          <li><a routerLink="/policy/deliverypolicy" routerLinkActive="active">Delivery Policy</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
  
    </div>
  </div>
<div class="w3lscopyrightaits">
    <div class="col-md-8 w3lscopyrightaitsgrid w3lscopyrightaitsgrid1">
      <p>© 2018 Better Love. All Rights Reserved.</p>
    </div>
    <div class="clearfix"></div>
</div>