<header>
    <!-- Checkout -->
    <div class="header-checkout-container">
        <button class="header-checkout-button">Checkout</button>
    </div>
     
    <!-- Logo -->
    <div class="header-logo-container">
        <a routerLink="/" routerLinkActive="active">
            <img class="header-logo" src="images/new-logo.gif" alt="logo"><br/>
            <span>Better Love</span>
        </a>
    </div>
       
    <!-- Basket, Search -->
    <div class="header-util-container">
        <div class="header-search-container">
            <i class="fas fa-search" (click)="search()"></i>
            <input type="text" id="search-input" [(ngModel)]="searchQuery" placeholder="Search" />
        </div>
        <div class="basket-container">
            <a routerLink="/basket" routerLinkActive="active">
                <i class="fas fa-shopping-basket"></i>
                <span>{{basketValues.itemsCount}}</span>
            </a>
            <p>{{basketValues.totalCost ? '£' + basketValues.totalCost : '£0.00'}}</p>
        </div>
    </div>

    <div class="header-dropdown-menu-util-container">
        <p>MENU</p>
        <button (click)="showNavigation = !showNavigation"><i class="fas fa-bars"></i></button>
    </div>

    <!-- Dropdown menu -->
    <nav *ngIf="showNavigation" class="main-navigation-mobile-tablet">
        <ul class="main-list">
                <li *ngFor="let category of categories" (click)="toggleCategory(category); $event.stopPropagation();">
                    {{category.name}}
                    <ul *ngIf="category.$open" class="second-level-list">
                    <p (click)="changeCategory(category.name); $event.stopPropagation();">{{category.name}} home page <i class="fas fa-angle-double-right"></i></p>
                    <li *ngFor="let subCategory of category.subCategories" (click)="toggleCategory(subCategory); $event.stopPropagation();" [ngStyle]="{'background-color': !subCategory.subCategories ? 'orangered' : 'red'}">
                        <span *ngIf="!subCategory.subCategories" (click)="changeCategory(subCategory.name); $event.stopPropagation();">{{subCategory.name}}</span>
                        <span *ngIf="subCategory.subCategories">{{subCategory.name}}</span>
                        <ul *ngIf="subCategory.subCategories && subCategory.$open" class="third-level-list">
                            <p (click)="changeCategory(subCategory.name); $event.stopPropagation();">{{subCategory.name}} home page <i class="fas fa-angle-double-right"></i></p>
                            <li *ngFor="let sub of subCategory.subCategories" (click)="changeCategory(sub.name); $event.stopPropagation();">
                                {{sub.name}}
                            </li>
                        </ul>
                    </li>
                    </ul>
                </li>
            </ul>
    </nav>

</header>

        <!-- <div class="col search-column" [ngClass]="{'col-3': addColClass}">
           <input type="text" class="form-control" id="search-input" [(ngModel)]="searchQuery" />
           <i class="fas fa-search" (click)="search()"></i>
        </div> -->
        <!-- SEARCH END -->
     <!-- </div>

     <div class="row" style="border-top:1px solid white;margin-top: 2%;"> -->
        <!-- NAV INLINE -->
        <!-- <div class="col navigation-container"> -->
          <!-- search -->
          <!-- <nav class="inline-navigation">
              <ul class="inline-list">
                  <li *ngFor="let category of categories" (click)="openCategory(category); $event.stopPropagation();">
                      {{category.name}}
                      <ul *ngIf="category.$open" class="inline-sub-list" [ngClass]="{'inline-sub-list-bondage': category.scrollable}">
                          <p class="home-category" (click)="changeCategory(category.name); $event.stopPropagation();">{{category.name}} <i class="fas fa-angle-double-right"></i></p>
                          <li *ngFor="let subCategory of category.subCategories; let i = index" (click)="openCategory(subCategory); $event.stopPropagation();">
                              {{subCategory.name}}
                              <span *ngIf="subCategory.subCategories && !subCategory.$open" class="subCategories-arrow"><i class="fas fa-chevron-right"></i></span>
                              <span *ngIf="subCategory.subCategories && subCategory.$open" class="subCategories-arrow"><i class="fas fa-chevron-down"></i></span>
                              <ul *ngIf="subCategory.subCategories && subCategory.$open" class="inline-sub-sub-list" [ngStyle]="{'top': 0}" [ngClass]="{'inline-sub-list-bondage': subCategory.scrollable}">
                                  <p class="home-category" (click)="changeCategory(subCategory.name); $event.stopPropagation();">{{subCategory.name}} <i class="fas fa-angle-double-right"></i></p>
                                 <li *ngFor="let sub of subCategory.subCategories" (click)="changeCategory(sub.name); $event.stopPropagation();">
                                     {{sub.name}}
                                  </li>
                              </ul>
                          </li>
                      </ul>
                  </li>
              </ul>
          </nav>
        </div> -->
        <!-- NAV INLINE -->
     <!-- </div>
  </div> -->

  <!-- NAV DROP DOWN -->
  <!-- <nav *ngIf="showNavigation" class="main-navigation-mobile-tablet">
      
  </nav> -->
  <!-- NAV DROP DOWN END -->
<!-- </div> -->


      