<div class="agilemodel-slider show-in-full">
    <div id='film_roll_1'>
        <div><img src="images/film-roll/roll-1-1.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-2-2.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-3-3.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-4-4.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-5-5.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-6-6.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-7-7.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-8-8.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-9-9.jpg" alt="Groovy Apparel"></div>
        <div><img src="images/film-roll/roll-10-10.jpg" alt="Groovy Apparel"></div>
    </div>
</div>