<div>
	<h1 class="products-list-title">{{selectedCategory}}</h1>
	<div class="products-list-filters">
		<select [(ngModel)]="sort" (ngModelChange)="sortBy($event)" class="products-filter">
			<option value="0">Price: Low to High</option>
			<option value="1">Price: High to Low</option>
			<option value="2"> Avg. Customer Review</option>
		</select>
	</div>
	
	<div class="products-list-container">
		<!-- LOADING -->
		<div *ngIf="loading && !products" class="loader-container"><i class="fas fa-spinner fa-pulse loader-margin"></i></div>
		<!-- NO RESULT -->
		<div *ngIf="!loading && products && !products.length" class="loader-container">No result</div>

		<!-- Actual Items -->
		<div class="products-list-items-container">
            <div class="products-list-item" *ngFor="let product of currentPage">
			   <img src="{{getImageSrc(product)}}" alt="{{product.name}}" (click)="selectProduct(product)">
			   <h5 class="products-list-item-name" (click)="selectProduct(product)">
				   {{product.name}}
				</h5>
			   <p>£{{product.rpr}}</p>
			   <button [disabled]="!warehouse.stockByProductId[product.id]" (click)="basket.addToBasket(1, product)">
				   ADD TO CART
				</button>
			</div>
		</div>
	</div>

	<div class="pages-index-container">
		<ul class="page-selection">
			<li class="pages-index" *ngIf="pageSelected !== 0" (click)="goToStartEnd(true)"><i class="fas fa-angle-double-left"></i></li>
			<li class="pages-index" *ngIf="pageSelected !== 0" (click)="moveByOnePage(true)"><i class="fas fa-angle-left"></i></li>
			<li class="pages-index" [ngClass]="{'page-selected': pageSelected === pageIndex}" *ngFor="let pageIndex of pagesIndex" (click)="changePage(pageIndex)">{{pageIndex + 1}}</li>
			<li class="pages-index" *ngIf="pageSelected !== pages.length - 1" (click)="moveByOnePage(false)"><i class="fas fa-angle-right"></i></li>
			<li class="pages-index" *ngIf="pageSelected !== pages.length - 1" (click)="goToStartEnd(false)"><i class="fas fa-angle-double-right"></i></li>
		</ul>
	</div>


<!-- TODO
	5. Simplify moving by one page
	6. Change styles for page numbers
	7. Sort out button on disabled
	8. Provide default photo
	9. Fix layout in product page
	10. Make header sticky
 -->
