<div class="policy-container">
    <article>
        <h2>Returns Policy</h2>
        <p class="policy-text">
            Return or exchange an item - our 100% money back guarantee If you are not completely satisfied with your purchase,
            simply return the item to us in its original condition within 14 days of receipt. Returned items should be unused 
            and must be returned in original packaging with any enclosed documentation. We will issue a full refund on receipt,
            excluding the original delivery charge. Alternatively, if preferred, we will exchange the item.
            Please note: Goods will only be accepted for return if they are despatched within 14 days of delivery,
            unless we have notified you otherwise. The item is your responsibility until it reaches us. Therefore for 
            your own protection we recommend that you send the parcel using a delivery service that insures you for 
            the value of the goods. The cost of returning the item to us is your responsibility. Delivery charges 
            are only refundable where goods are faulty and a refund is made. Our Returns address is 
            Tartanus Software Consulting PO BOX 228 Hitchin Herts SG4 0WW.
        </p>
    </article>
</div>
