 <!-- Shopping -->
 <div class="splash-page-container">

  <div class="splash-page-first-section">
    <div class="splash-page-first-section-item-container">
       <img src="images/m-offer/gorset-r.jpg" alt="Gorset">
       <h4>BASQUES AND CORSETS</h4>
       <button type="button">
          <a routerLink="/categories/Basques and Corsets" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
       <img src="images/m-offer/stockings-r.jpg" alt="Stockings">
       <h4>STOCKINGS</h4>
       <button type="button">
          <a routerLink="/categories/Stockings" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/m-offer/dresses-r.jpg" alt="Dresses and Chemises">
        <h4>DRESSES AND CHEMISES</h4>
        <button type="button">
          <a routerLink="/categories/Dresses and Chemises" routerLinkActive="active">Shop Now</a>
        </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/m-offer/playsuits-r.jpg" alt="Bodies and Playsuits">
        <h4>BODIES AND PLAYSUITS</h4>
        <button type="button">
          <a routerLink="/categories/Bodies and Playsuits" routerLinkActive="active">Shop Now</a>
        </button>
    </div>
  </div>

 <div class="bdsm-collection">
      <h1>LETS KINK IT UP</h1>
      <a routerLink="/categories/Bondage Gear" routerLinkActive="active">BDSM COLLECTION</a>
 </div>

  <div class="splash-page-first-section">
    <div class="splash-page-first-section-item-container">
       <img src="images/categories/whips.jpg" alt="Whips">
       <h4>WHIPS</h4>
       <button type="button">
          <a routerLink="/categories/Whips" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
       <img src="images/categories/restraints.jpg" alt="Restraints">
       <h4>RESTRAINS</h4>
       <button type="button">
          <a routerLink="/categories/Restraints" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/categories/collars.jpg" alt="Collars">
        <h4>COLLARS</h4>
        <button type="button">
          <a routerLink="/categories/Collars" routerLinkActive="active">Shop Now</a>
        </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/categories/male-chasity.jpg" alt="Male Chasity">
        <h4>MALE CHASTITY</h4>
        <button type="button">
          <a routerLink="/categories/Male Chastity" routerLinkActive="active">Shop Now</a>
        </button>
    </div>
  </div>

  <div class="vibrators-container">
      <a routerLink="/categories/search/vibrators" routerLinkActive="active">VIBRATORS</a>
      <h1>IS RELAX TIME!</h1>
  </div>

  <!-- Shop men shop women section -->
<div>
  <div class="shop-women">
      <picture>
          <source media="(max-width: 764px)" srcset="../images/splash-page/shop-women-mobile.jpg">
          <source media="(min-width: 765px)" srcset="../images/splash-page/shop-women-medium.jpg">
          <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
          <img src="../images/shop-women.jpeg">
      </picture>
      <a routerLink="/categories/Sex Toys For Ladies" routerLinkActive="active">TOYS FOR WOMEN</a>
  </div>

  <div class="shop-men">
    <picture>
          <source media="(max-width: 764px)" srcset="../images/splash-page/shop-men-mobile.jpg">
          <source media="(min-width: 765px)" srcset="../images/splash-page/shop-men-medium.jpg">
          <!-- <source media="(min-width: 465px)" srcset="img_white_flower.jpg"> -->
          <img src="../images/splash-page/shop-men.jpeg">
    </picture>
    <a routerLink="/categories/Sex Toys For Men" routerLinkActive="active">TOYS FOR MEN</a>
  </div>
</div>
