 <!-- Shopping -->
 <div>

  <div class="splash-page-first-section">
    <div class="splash-page-first-section-item-container">
       <img src="images/m-offer/gorset.jpg" alt="Gorset">
       <h4>BASQUES AND CORSETS</h4>
       <button type="button" class="btn btn-danger">
          <a routerLink="/categories/Basques and Corsets" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
       <img src="images/m-offer/stockings.jpg" alt="Stockings" style="height:50%;">
       <h4>STOCKINGS</h4>
       <button type="button" class="btn btn-danger">
          <a routerLink="/categories/Stockings" routerLinkActive="active">Shop Now</a>
       </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/m-offer/dresses.jpg" alt="Dresses and Chemises">
        <h4>DRESSES AND CHEMISES</h4>
        <button type="button" class="btn btn-danger">
          <a routerLink="/categories/Dresses and Chemises" routerLinkActive="active">Shop Now</a>
        </button>
    </div>

    <div class="splash-page-first-section-item-container">
        <img src="images/m-offer/playsuits.jpg" alt="Bodies and Playsuits">
        <h4>BODIES AND PLAYSUITS</h4>
        <button type="button" class="btn btn-danger">
          <a routerLink="/categories/Bodies and Playsuits" routerLinkActive="active">Shop Now</a>
        </button>
    </div>
  </div>

 <div class="wthreewinter-coll">
    <div class="container">
      <h1>LETS KINK IT UP</h1>
      <div class="wthreeshop-a button-1">
        <a routerLink="/categories/Bondage Gear" routerLinkActive="active">SHOP BDSM</a>
      </div>
    </div>
  </div>

  <div class="bdsm-collection-container">
    <div class="bdsm-collection-1">
    <!--Whips-->
      <div class="wthreeshop-a button-2">
          <a routerLink="/categories/Whips" routerLinkActive="active">SHOP WHIPS</a>
      </div>
    </div>
    <div class="bdsm-collection-2">
      <!--Handcufs-->
      <div class="wthreeshop-a button-3">
          <a routerLink="/categories/Restraints" routerLinkActive="active">SHOP RESTRAINTS</a>
      </div>
    </div>
  </div>

  <div class="vibrators-container">
     <h1>TIME FOR RELAX!</h1>
     <div class="wthreeshop-a button-4">
          <a routerLink="/categories/search/vibrators" routerLinkActive="active">SHOP VIBRATORS</a>
      </div>
      <!--vibrators-->
  </div>

  <!-- Shop men shop women section -->
  <div>
    <div class="shop-women">
      <img src="../images/shop-women.jpeg">
      <div class="wthreeshop-a button-women-men">
          <a routerLink="/categories/Sex Toys For Ladies" routerLinkActive="active">SHOP WOMEN</a>
      </div>
    </div>

    <div class="shop-men">
      <img src="../images/shop-men.jpeg">
      <div class="wthreeshop-a button-women-men">
          <a routerLink="/categories/Sex Toys For Men" routerLinkActive="active">SHOP MEN</a>
      </div>
    </div>
  </div>

  <!-- <header-slider></header-slider> -->
 <!--<model-slider></model-slider> -->
  
  <!--
  <div class="container">
    <div class="agileshoppinggrids" style="display:flex;">
      <div class="col-md-6 agileshoppinggrid agileshoppinggrid1">
        <div class="grid">
          <figure class="effect-apollo">
            <img src="images/men.jpg" alt="Groovy Apparel">
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
      <div class="col-md-6 agileshoppinggrid agileshoppinggrid2">
        <div class="grid">
          <figure class="effect-apollo">
            <img src="images/last.jpeg" alt="Groovy Apparel">
            <figcaption></figcaption>
          </figure>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="agileshoppinggrids-bottom">
      <h3>CHOOSE THE BEST FOR YOU</h3>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
      <div class="agileshoppinggrids-bottom-grids" style="display:flex;">
        <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid1">
          <div class="wthreeshop-a">
            <a routerLink="/categories/Sex Toys For Men" routerLinkActive="active">SHOP MEN</a>
          </div>
        </div>
        <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid2">
          <div class="wthreeshop-a">
            <a routerLink="/categories/Sex Toys For Ladies" routerLinkActive="active">SHOP WOMEN</a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

  </div>
</div>
-->
<!-- //Shopping -->  
  <!-- Clearance-Sale -->
  <div class="aitsclearance-sales">
    <div class="aitsclearance-sales-text">
      <h2>RELAXATION ZONE</h2>
      <div class="wthreeshop-a">
        <a routerLink="categories/Relaxation Zone" routerLinkActive="active">SHOP NOW</a>
      </div>
    </div>
  </div>
  <!-- //Clearance-Sale -->
  
  <!-- Newsletter 
  <div class="agileinfonewsl">
  
    <h3>SIGN UP FOR NEWSLETTER</h3>
    <p>Subscribe to us to get highest-level access to our new styles and trends</p>
    <div class="wthreeshop-a">
      <a class="popup-with-zoom-anim" href="#small-dialog3">SUBSCRIBE</a>
    </div>
  
      Popup-Box 
      <div id="popup2">
        <div id="small-dialog3" class="mfp-hide agileinfo">
          <div class="pop_up">
            <h4>SUBSCRIBE</h4>
            <form action="#" method="post">
              <input class="email aitsw3ls" type="email" placeholder="Email" required="">
              <input type="submit" class="submit" value="SUBSCRIBE">
            </form>
          </div>
        </div>
      </div>
      //Popup-Box 
  
  </div>
   //Newsletter -->