.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 37vh;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.header-container {
    width: 100%;
    height: 32vh;
    border-bottom: lightgray;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    z-index: 100000;
}

.main-container {
    padding-top: 34vh;
}

.inline-navigation {
    display: none;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    width: 10%;
    height: 23%;
}

.logo-container span {
    color: red;
    font-family: 'Amita', cursive;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Cormorant Unicase', serif;
}

.nav-button {
    background-color: red;
    border: none;
    color: white;
    font-size: 3em;
    text-align: center;
    border-radius: 8px;
    margin: 2% 0 0 5%;
}

.actions-container {
    width: 100%;
    display: flex;
}

.basket-container {
    width: 70%;
    text-align: end;
    font-size: 3em;
    align-self: center;
    padding-right: 5%;
    color: sienna;
    cursor: pointer;
}

.search-container {
    display: flex;
    width: 100%;
    margin-top: 3%;
    padding-left: 5%;
    cursor: pointer;
}

.search-container i {
    font-size: 2em;
    margin-left: 3%;
}

#search-input {
    padding: 0;
    margin: 0;
    background-color: initial;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    color: black;
    padding-left: 3%;
    font-size: 1em;
}

.main-navigation-mobile-tablet {
    list-style-type: none;
    background-color: firebrick;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
}

.main-navigation-mobile-tablet p {
    background-color: white;
    color: red;
    display: block;
}

.main-navigation-mobile-tablet li {
    border-bottom: 1px solid black;
}

.second-level-list {
    font-size: 0.7em;
    background: red;
}

.second-level-list li {
    border-bottom: 1px solid firebrick;
}

.third-level-list {
    background-color: orangered;
}

.third-level-list li {
    border-bottom: 1px solid red;
    font-size: 0.9em;
}

.pointer-cursor {
    cursor: pointer;
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.categories-top-bar p {
    font-size: .7em;
}

.show-in-small {
    background: url(./../images/top-slides/slide-1.jpg);
    background-size: cover;
}

.small-header {
    display: flex;
}

.shop-container {
    width: 100%;
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.nav-container {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.categories-top-bar p {
    font-size: .7em;
}

.nav-logo {
    padding: 0;
    color: red;
}

.nav-logo a:hover,
.nav-logo a:focus {
    color:red;
}

.side-menu {
    flex-basis: 20%;
    height: 600px;
    border-right: 1px solid red;
    display: none;
}

.products-cart {
    float: right;
}

.products-cart span {
    color: blue;
}

.splash-page-first-section {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.splash-page-first-section-item-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.splash-page-first-section-item-container h4 {
    color: red;
    margin-top: 5%;
}

.splash-page-first-section-item-container button {
   background: red;
   margin-top: 2%;
   width: 40%;
   height: 7%;
   font-size: 1.3em;
}


.splash-page-first-section-item-container a {
   color: white;
}

.wthreewinter-coll {
    display: block;
    width: 100%;
    height: 30vh;
    padding: 0;
}

.wthreewinter-coll .container {
    width: 100%;
}

.wthreewinter-coll h1 {
    font-size: 1.5em;
    color: darkred;
    font-weight: bold;
    letter-spacing: 7px;
    margin-top: 4%;
    background-color: rgba(255,255,255,0.3)
}

.wthreeshop-a {
    font-size: 2em;
    text-align: center;
    margin: 0;
    position: relative;
}

.wthreeshop-a a {
    color: white;
    border-color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
}

.button-container {
    width: fit-content;
}

.button-container a {

}

.button-1 {
    top: 71px;
}

.button-2 {
    top: 150px;
}

.button-3 {
    top: 150px;
}

.bdsm-collection-1,
.bdsm-collection-2,
.vibrators-container {
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
   width: 100%;
   height: 35vh;
}

.vibrators-container { 
   background-position: center;
}

.bdsm-collection-1 {
   background-image: url('../images/whip.jpeg');
}

.bdsm-collection-2 {
   background-image: url('../images/shop-restraints-2.jpeg');
}

.pages-index-container {
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

.vibrators-container {
    background-image: url('../images/vibrators-splash.jpeg');
    padding-top: 4%;
}

.vibrators-container h1 {
    font-size: 1.5em;
    color: darkred;
    font-weight: bold;
    letter-spacing: 7px;
    background-color: rgba(255,255,255,0.3)
}

.button-4 {
    top: 115px;
}

.button-women-men {
    margin-top: 2%;
}

.button-women-men a {
    color: red;
    border-color: red;
    background: none;
    font-size: 0.9em;
}

.page-selected {
    background-color: dodgerblue;
    color: white;
}

.shop-men,
.shop-women {
    width: 70%;
    margin: 10px auto;
}

.pages-selection {
    width: 100%;
    text-align: center;
}

.pages-index {
  display: inline-block;
  cursor: pointer;
  border: 1px solid lightgray;
  margin-left: 0.2%;
  width: 10%;
  text-align: center;
  border-radius: 25%;
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

.pages-index:hover {
    background-color: dodgerblue;
    color: white;
}

.specifications {
    padding-left: 1%;
}

.specifications p {
    display: inline-block;
    width: 20%;
}

.sliders-container {
    padding-top: 1%;
    list-style: none;
} 

.sliders-container li {
    display: inline-block;
    width: 20%;
    padding-left: 1%;
    cursor: pointer;
}

#name-input-review {
    width: 25%;
    background: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: black;
}

#name-input-review::-webkit-input-placeholder {
    color: gray;
}
#review-text {
    background: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: black;
}

#review-text::placeholder {
    color: gray;
}

.review-star {
    color: gold;
}

.add-to-cart-row {
    display: flex;
    justify-content: space-around;
    height: 5%;
}

.qty {
    width: 15%;
    height: 100%;
}

.cart-values {
    font-size: 0.3em;
}

.loader-container {
    height: 60vh;
    text-align: center;
    font-size: 4em;
    color: cornflowerblue;
}

.loader-margin {
    margin-top: 25vh;
}

.basket-empty {
    height: 50vh;
    margin-top: 10vh;
}

.basket-header {
    background-color: lightgray;
    text-align: center;
    margin-bottom: 3%;
}

.proceed-container {
    position: fixed;
    right: 0;
    top: 50%;
    background-color: cornflowerblue;
    padding: 2%;
    z-index: 1000;
    width: 33%;
}

.proceed-container p {
    writing-mode: tb-rl;
    color: white;
    font-weight: 100;
    font-size: 1.5em;
}

.proceed-container a {
    color: white;
    display: inline-block;
}

.basket-header p {
    color: white;
    font-weight: 300;
    font-size: 2em;
}

.basket-page-container {
    width: 95%;
    margin: 0 auto;
}

.basket-items-container {
   width: 100%;
}

.item-title {
    width: 80%;
    margin-bottom: 2%;
    font-family: Noto, serif;
    color: brown;
}

.basket-item-container {
   width: 100%;
   margin-bottom: 5%;
}

.basket-item {

}

.basket-item img {
    /* width: 50%; */
}

#review-text {
    width: 90%;
}

.basket-item-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.basket-item-info p {
    font-size: 1.5em;
}

.basket-remove-container {
    text-align: center;
    margin-top: 10px;
}

.proceed-header {
    display: none;
}

.products-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.home-category {
    color: blue;
    font-size: 1em;
    line-height: 2.4em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-shadow: 0 0 0;
}

.home-category:hover {
    color: purple;
}

.clothes-inline {
    width: 49%;
    display: inline-block;
}

.checkout-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
}

checkout-valid {
    border: 1px solid green;
}

checkout-invalid {
    border: 1px solid red;
}

.checkout-delivery-container {
    margin-top: 5%;
}

.checkout-delivery-container h4 {
    margin-bottom: 2%;
}

.checkout-payment-container {
    width: 100%;
}

.delivery-info {
    padding-left: 5%;
}

.checkout-info-label {
    margin-top: 2%;
}

.checkout-summary-containers {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%;
    border-bottom: 1px solid;
    margin-bottom: 1%;
}

.checkout-confirmation p {
    background: lightgray;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
}

.size-chart-container {
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.size-chart-container table {
    border: 1px solid red;
    font-size: 1em;
    margin: 1%;
    width: 100%;
}

.size-chart-container thead {
    border-bottom: 1px solid red;
    padding-left: 1%;
    background-color: darkgrey;
}

.size-chart-container tr:nth-child(even) {
    background-color: lightgray;
}

.size-chart-container tbody th {
    font-weight: 500;
    color: red;
}

