
@media screen and (min-width: 320px){
   .nav-logo {
       margin-left: 12%;
   }
   .my-cart-icon {
       margin-top: 8px;
   }
}

@media screen and (min-width: 400px) {
   .search-container {
       width: 70%;
       margin: 3% auto;
   }
}

@media screen and (min-width: 490px) {
   .nav-logo {
       margin-left: 20%;
   }

   .basket-item {
       width: 50%;
   }
   
   .basket-product-container {
       display: flex;
       justify-content: space-evenly;
   }

   .basket-item-info {
       display: flex;
       justify-content: flex-end;
       flex-direction: column;
   }
}

@media screen and (min-width: 540px) {
   .logo-container img {
       width: 8%;
   }
}

@media screen and (min-width: 667px) {
   .logo-container img {
       width: 6%;
   }
   
   .checkout-info-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
   }

   .checkout-form-container {
       width: 45%;
   }
}

