@media screen and (min-width: 765px) {
    #detail21 .col-md-6 {
        display: inline-block;
    }
   .w3view-cart {
       margin-top: 20%;
   }

   .main-container {
       padding-top: 5vh;
   }

   .pages-selection {
       text-align: right;
   }

    .pages-index {
       width: 5.4%;
    }

    .checkout-container {
        margin-top: 2%;
    }

    .checkout-info-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .checkout-form-container {
       width: 45%;
    }

    .checkout-delivery-container {
       width: 45%;
       margin-top: 0;
    }

    .splash-page-first-section-item-container {
        width: 40%;
        margin-bottom: 10%;
        display: inline-block;
    }

    .splash-page-first-section-item-container button {
        width: 50%;
        height: 6%;
        font-size: 1.5em;
    }

    .button-1 {
       top: calc(45vh - 165px);
    }

    .button-2,
    .button-3 {
       top: calc(45vh - 75px);
    }

    .bdsm-collection-1,
    .bdsm-collection-2 {
       display: inline-block;
       width: 50%;
       height: 45vh;
    }

    .vibrators-container {
       height: 50vh;
    }

    .vibrators-container h1 {
       font-size: 2.5em;
    }

    .button-4 {
      top: calc(50vh - 150px);
    }

    .shop-men,
    .shop-women {
      display: inline-block;
      width: 50%;
      padding: 1% 5%;
    }

    .bdsm-collection-1 {
       background-image: url('../images/splash-page/whip-medium.jpg');
    }

    .bdsm-collection-2 {
       background-image: url('../images/splash-page/shop-restraints-2-medium.jpg');
    }

    .vibrators-container {
        background-image: url('../images/splash-page/vibrators-splash-medium.jpg');
    }

    .policy-container {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
   .basket-header {
       display: none;
   }

   .proceed-container {
       top: 17vh;
       background-color: white;
       border: 2px solid cornflowerblue;
       right: 1vw;
       width: 40vw;
   }

   .proceed-container p {
       color: black;
   }

   .proceed-header {
       display: inline;
   }

   .proceed-button {
       margin: 0 auto;
       width: 65%;
       border: 1px solid cornflowerblue;
       padding: 1%;
       margin-top: 3%;
       border-radius: 10px;
       background-color: cornflowerblue;
       opacity: 0.9;
       color: white;
       text-align: center;
   }

   .proceed-container p {
       writing-mode: initial;
   }

   .basket-item-container {
       width: 30%;
   }

   .basket-card {
       width: 40%;
      left: unset;
      right: 0;
   }

   .pages-index {
      width: 1.4%;
   }

    .bdsm-collection-1 {
       background-image: url('../images/splash-page/whip-900.jpg');
    }

    .bdsm-collection-2 {
       background-image: url('../images/splash-page/shop-restraints-2-900.jpg');
    }

    .vibrators-container {
        background-image: url('../images/splash-page/vibrators-splash-900.jpg');
    }

    .aitsclearance-sales {
        background-image: url(../images/splash-page/relaxation-900.jpg);
    }

}

@media screen and (max-width: 930px) {
   .navbar-nav {
       margin-top: 1%;
   }
}

@media screen and (min-width: 1100px) {
   .proceed-container {
       right: 2vw;
   }

   .basket-page-container {
       width: 70%;
   }

   .splash-page-first-section-item-container img {
      width: 65%;
    }

    .splash-page-first-section-item-container button {
        width: 25%;
        font-size: 1em;
    }

    .vibrators-container {
       height: 60vh;
    }

    .button-4 {
      top: calc(60vh - 160px);
    }

    .policy-container {
        width: 60%;
    }
}

@media screen and (min-width: 1270px) {
   .w3view-cart {
       margin-top: 27%;
   }
}

@media screen and (min-width: 1100px) {
   .basket-page-container {
       width: 80%;
   }

   .proceed-container {
       width: 30vw;
       right: 7vw;
   }
}

@media screen and (max-width: 1450px) {
   .block-menu {
       display: none;
   }

   .show-in-full {
       display: none;
   }

   .dropdown-menu,
   .multi,
   .multi2
   .multi3,
   .multi4,
   .multi5 {
       left: 0 !important;
   }

   .categories-top-bar {
       width: 100%;
   }

   .dropdown-menu.multi {
       min-width: 200px;
   }
}

@media screen and (min-width: 1450px) {
   .show-in-small {
       display: none;
   }
} 

@media screen and (min-width: 1460px) {
   .navbar-nav {
       margin: 1% 7%;
   }
}

@media screen and (min-width: 1550px) {
   .proceed-container {
       right: 9vw;
   }
}