.splash-page-first-section {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.splash-page-first-section-item-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.splash-page-first-section-item-container img {
    width: 70%;
}

.splash-page-first-section-item-container h4 {
    color: red;
    margin-top: 5%;
    font-family: serif;
}

.splash-page-first-section-item-container button {
   background: red;
   margin-top: 2%;
   width: 40%;
   height: 7%;
   font-size: 1.3em;
   border: 1px solid red;
   font-family: serif;
}


.splash-page-first-section-item-container a {
   color: white;
}

.bdsm-collection {
    background-image: url(./../../../images/splash-page/new-kink-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    height: 30vh;
    padding: 0;
    position: relative;
}

.bdsm-collection h1 {
    font-size: 1.5em;
    color: darkred;
    font-weight: bold;
    letter-spacing: 7px;
    margin-top: 4%;
    background-color: rgba(255,255,255,0.3)
}

.bdsm-collection a {
    color: white;
    font-size: 1.5em;
    font-family: serif;
    width: 70%;
    border: 1px solid white;
    padding: 2%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    text-align: center;
    background-color: rgba(169,169,169,.3);
}

.vibrators-container {
    background-image: url('../../../images/splash-page/vibrators-splash-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
}

.vibrators-container a {
    color: white;
    font-size: 1.5em;
    font-family: serif;
    width: 70%;
    border: 1px solid white;
    padding: 2%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(169,169,169,.3);
}

.vibrators-container h1 {
    font-size: 1.5em;
    color: darkred;
    font-weight: bold;
    letter-spacing: 7px;
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.shop-men,
.shop-women {
    width: 70%;
    margin: 10px auto;
}

.shop-men a,
.shop-women a {
    color: red;
    border: 1px solid red;
    padding: 3%;
    display: block;
    text-align: center;
    width: 70%;
    margin: 10px auto 0 auto;
    font-family: serif;
}

@media only screen and (min-width: 480px) {
    .splash-page-first-section-item-container {
        margin-bottom: 3%;
        width: 47%;
        display: inline-block;
    }
    
    .splash-page-first-section-item-container img {
        width: 100%;
    }
    
    .splash-page-first-section-item-container h4 {
        font-size: 1em;
    }
    
    .splash-page-first-section-item-container button {
        width: 60%;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 600px) {
    .bdsm-collection {
        background-image: url(../../../images/splash-page/new-kink-medium.jpg);
    }

    .vibrators-container {
        background-image: url(../../../images/splash-page/vibrators-splash-medium.jpg);
    }

    .shop-women,
    .shop-men {
        width: 47%;
        display: inline-block;
        padding: 1%;
    }
}

@media only screen and (min-width: 997px) {
    .splash-page-first-section-item-container {
        width: 35%;
    }

    .bdsm-collection {
        background-image: url(../../../images/splash-page/new-kink-900.jpg);
    } 

    .vibrators-container {
        background-image: url(../../../images/splash-page/vibrators-splash-900.jpg);
    }
}

@media only screen and (min-width: 1100px) {
    splash-page-first-section {
        width: 83%;
    }

    .splash-page-first-section-item-container img {
        width: 70%;
    }

    .bdsm-collection {
        height: 60vh;
    }

    .shop-women, 
    .shop-men {
        width: 34%;
    }

}
