.single-product-page-container {
    width: 97%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.product-short-info-container {
    width: 100%;
}

.product-images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-images-list {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding-top: .5rem;
}

.product-images-list img {
    width: 20%;
}

.product-short-info {
    padding: .5rem 1rem;
    font-family: serif;
}

.product-short-info h1 {
    font-family: serif;
    color: red;
    font-size: 1.7em;
}

.product-short-info p {
    color: black;
    font-family: serif;
    font-size: 1em;
}

.product-ranking {
    padding: .5rem 0;
}

.product-ranking i {
    color: gold;
}

.product-price {
    padding: 1rem 0;
}

.product-short-info select {
    padding: .3rem .6rem;
    font-family: serif;
    margin-bottom: 1rem;
}

.product-short-info input {
    width: 17%;
    padding: .3rem .6rem;
    margin-right: 30px;
}

.product-short-info button {
    background-color: white;
    border: 1px solid black;
    padding: .3rem .6rem;
    cursor: pointer;
}

.product-short-info button:hover {
    color: white;
    background-color: black;
}

.product-description-container {
    padding: .5rem;
}

.product-description-container h6 {
    padding: .3rem 0;
    text-align: left;
    font-family: serif;
    border-bottom: 1px solid;
}

.product-description-container p {
    color: black;
    padding-top: .3rem;
    font-family: serif;
    font-size: 1.3em;
}

.product-accordion-container {
    width: 97%;
    margin: 0 auto;
}

.product-accordion-panel {
    width: 100%;
    margin: 10px auto;
}

.product-accordion-header {
    border: 1px solid lightgray;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem .6rem;
    color: white;
    font-family: serif;
    cursor: pointer;
}

.product-accordion-header i {
    font-size: 1.5em;
}

.accordion-open {
    color: grey;
    background-color: white;
    border-bottom: none;
}

.product-accordion-body {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: .3rem .6rem;
}

.product-size-table {
    border: 1px solid;
    width: 100%;
    margin: 10px auto;
}

.product-size-table tr {
    border-bottom: 1px solid;
}

.product-size-table tr:nth-child(even) {
    background-color: lightgray;
}

.product-size-table thead {
    background-color: gray;
    color: white;
    font-family: serif;
}

.product-size-table thead th {
    font-weight: 300;
}

.product-size-table th,
.product-size-table td {
    padding: .5rem;
}

.specifications {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.specifications p:first-child {
    width: 50%;
}

.review-name-label {
    font-family: serif;
    margin-bottom: 5px;
}

.review-name {
    font-family: serif;
    padding: .3rem .6rem;
}

.review-stars {
    color: gold;
    font-size: 1.5em;
    margin: 1rem auto;
}

.review-stars span {
    cursor: pointer;
}

textarea {
    padding: .3rem .6rem;
    font-family: serif;
    width: 100%;
}

.review-button {
    font-family: serif;
    padding: .3rem .6rem;
    cursor: pointer;
    background-color: white;
    margin: 10px auto;
    border: 1px solid;
}

.no-reviews {
    font-family: serif;
    text-align: center;
    margin: 10px auto;
    font-size: 1.1em;
}

.read-only-cursor {
    cursor: initial;
}

.reviews-container {
    padding: .3rem .6rem;
    width: 100%;
}

.reviews-container p:first-child {
    font-family: serif;
    color: black;
    font-size: 1.1em;
}

.reviews-container p:last-of-type {
    color: black;
    font-family: serif;
    font-size: 1em;
}

.reviews-container hr {
    color: black;
}

.reviews-page-index {
    display: inline-block;
    padding: .3rem .6rem;
    background-color: white;
    color: black;
    border: 1px solid;
    cursor: pointer;
    font-family: serif;
}

.review-page-selected {
    background-color: black;
    color: white;
}

@media only screen and (min-width: 500px) {
    .product-short-info-container {
        display: flex;
    }

    .product-images-container {
        width: 50%;
    }

    .product-short-info {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        width: 50%;
    }

    .product-short-info h1 {
        font-size: 1.2em;
        text-align: left;
    }

    .product-short-info input {
        width: 32%;
        margin-right: 10px;
        padding: .1rem .3rem;
    }

    .product-short-info button {
        padding: .1rem .3rem;
    }
}

@media only screen and (min-width: 700px) {
    .product-short-info {
        padding-left: 3rem;
    }

    .product-short-info input {
        padding: .3rem .6rem;
        width: 20%;
        margin-right: 30px;
    }

    .product-short-info button {
        padding: .3rem .6rem;
    }

    textarea {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) {
    .product-description-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem 5rem;
    }
}

@media only screen and (min-width: 900px) {
    .product-short-info-container,
    .product-accordion-container {
        max-width: 900px;
        margin: 0 auto;
    }

    .product-short-info {
        padding-top: 2rem;
        padding-left: 7rem;
    }
}