header {
    position: fixed;
    z-index: 1000000;
    width: 100%;
    background-color: white;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-checkout-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 1%;
}

.header-checkout-button {
    background: none;
    border: none;
    letter-spacing: 4px;
    font-family: serif;
    cursor: pointer;
}

.header-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.header-logo-container a {
    text-align: center;
}

.header-logo {
    width: 10vw;
}

.header-logo-container span {
    font-family: 'Alex Brush', cursive;
    color: red;
    font-size: xx-large;
}

.header-util-container {
    display: flex;
    flex-direction: row;
    padding: 0 15px;
}

.header-search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
    flex-grow: 2;
}

.header-search-container i {
    font-size: x-large;
}

#search-input {
    border: none;
    border-bottom: 1px solid;
    padding-left: 5px;
    flex-basis: 80%;
    margin: 0;
}

.basket-container a {
    color: black;
}

.basket-container i {
    font-size: 2em;
}

.basket-container span {
    position: relative;
    top: -25px;
    left: -8px;
}

.header-dropdown-menu-util-container {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    background-color: red;
    margin-top: 10px;
    align-items: center;
}

.header-dropdown-menu-util-container p {
    color: white;
    font-family: sans-serif;
}

.header-dropdown-menu-util-container button {
    color: white;
    background: none;
    border: none;
    font-size: xx-large;
}

.header-nav-dropdown {
    list-style-type: none;
    background-color: white;
    width: 100%;
    position: relative;
    left: 0;
    top: 100%;
    z-index: 1000;
    color: black;
    font-family: serif;
    font-size: 2em;
    line-height: 2em;
    max-height: 80vh;
    overflow-y: auto;
}

.header-nav-dropdown-li-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4%;
    cursor: pointer;
}

.header-nav-dropdown-main-1 {
    padding-left: 4%;
    color: black;
    font-size: large;
}

.header-nav-dropdown-li-2 {
    padding-left: 9%;
    font-size: 0.8em;
    cursor: pointer;
}

.header-nav-dropdown-li-2 div {
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
}

.header-nav-dropdown-main-2 {
    padding-left: 7%;
    color: black;
    font-size: 0.6em;
}

.header-nav-last-ul {
    list-style: none;
    list-style-position: inside;
}

.header-nav-last-ul li {
    font-size: 0.6em;
    padding-left: 7%;
    cursor: pointer;
}

.header-inline-navigation {
    display: none;
}

@media only screen and (min-width: 480px) {
    .header-logo {
        width: 7vw;
    }

    .header-search-container {
        flex-direction: row-reverse;
        padding-left: 0;
        margin-right: 4%;
        padding-right: 2%;
        border-right: 1px solid black;
    }

    #search-input {
        flex-basis: 60%;
    }

    .header-nav-dropdown {
       border-left: 1px solid lightgray;
       border-right: 1px solid lightgray;
       border-bottom: 1px solid lightgray;
       width: 97%;
       box-shadow: 1px 1px 5px lightgrey;
       margin: 0 auto;
    }
}

@media only screen and (min-width: 700px) {
    .header-logo {
        width: 5vw;
    }

    .header-dropdown-menu-util-container {
        padding: 2%;
    }

    .header-nav-dropdown {
        width: 80%;
    }
}

@media only screen and (min-width: 997px) {
    .header-content {
       flex-direction: row;
       justify-content: center;
       align-items: center;
       padding-top: 2%;
    }

    .header-checkout-container {
        width: initial;
        flex-basis: 33.3%;
        justify-content: center;
    }

    .header-logo-container {
        padding: 0;
        flex-basis: 33.3%;
    }

    .header-logo {
        width: 4vw;
    }

    .header-util-container {
        flex-basis: 33.3%;
    }

    #search-input {
        flex-basis: 90%;
    }

    .header-dropdown-menu-util-container {
        display: none;
    }

    .header-inline-navigation {
        display: block;
        width: 100%;
        background-color: red;
        color: white;
        font-family: serif;
        padding: 1%;
    }

    .inline-navigation-ul-level-1 {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 0 auto;
    }

    .inline-navigation-ul-level-1 li {
        cursor: pointer;
    }

    .inline-navigation-ul-lvl-2 {
        display: block;
        position: absolute;
        z-index: 10000;
        list-style-type: none;
        text-align: left;
        color: black;
        font-size: 0.8em;
        width: auto;
        padding-left: 1%;
        padding-right: 1%;
        margin-top: 1%;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        box-shadow: 1px 1px 1px lightgrey;
        width: 25%;
        background-color: white;
    }

    .inline-navigation-main {
        color: black;
        font-size: 1.5em;
        letter-spacing: 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 0;
    }

    .inline-navigation-item {
        color: black;
        font-size: 1.5em;
        letter-spacing: 1px;
        padding: 2% 0;
    }

    .inline-navigation-ul-lvl-3 {
        display: block;
        list-style-type: none;
        position: absolute;
        left: 97%;
        color: black;
        width: 100%;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        box-shadow: -3px 1px 1px lightgrey;
        background-color: white;
        padding: 0 2%;
    }

    .inline-navigation-scrollable {
        max-height: 60vh;
        overflow-y: auto;
    }
}

    @media only screen and (min-width: 1280px) {
        .header-content {
            width: 70%;
            margin: 0 auto;
        }
        .inline-navigation-ul-lvl-2 {
            width: 22%;
        }
    }
