.products-list-title {
    color: grey;
    font-family: serif;
    font-size: 2em;
    margin-bottom: 0.5rem;
}

.products-list-filters {
    margin-top:2%;
    margin-right:3%;
}

.products-filter {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.products-list-items-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-list-item img {
    width: 100%;
    padding: 1%;
    cursor: pointer;
}

.products-list-item h5 {
    color: red;
    font-family: serif;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    cursor: pointer;
}

.products-list-item p {
    font-family: serif;
    margin-top: 0.5rem;
    font-size: 1.2em;
    color: black;
}

.products-list-item button {
    margin: 0.5rem 0;
    font-family: serif;
    background-color: white;
    border: 1px solid;
    padding: 4%;
    cursor: pointer;
}

.products-list-item button:hover {
    background-color: black;
    color: white;
}

.products-list-items-container button:disabled {
    color: lightgrey;
    border: 1px solid lightgrey;
    cursor: not-allowed;
}

.products-list-items-container button:disabled:hover {
    background-color: white;
}

.products-page-selection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 2em;
    letter-spacing: 9px;
    color: gray;
}

.products-page-selection-container span {
    cursor: pointer;
}

.products-page-selection-container span:hover {
    color: black;
}

.selected {
    color: black;
}

@media only screen and (min-width: 510px) {
    .products-list-items-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .products-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 48%;
    }

    .product-list-item h5 {
        font-size: 1em;
        width: 75%;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }

    .products-page-selection-container {
        justify-content: flex-end;
        padding-right: 2rem;
    }
}

@media only screen and (min-width: 700px) {
    .products-list-filters {
        display: flex;
        justify-content: flex-end;
    }

    .products-filter {
        width: 35%;
    }

    .products-list-items-container {
        justify-content: space-around;
    }
}

@media only screen and (min-width: 997px) {
    .products-list-item {
        width: 30%;
    }
}

@media only screen and (min-width: 1100px) {
    .products-list-container {
        width: 90%;
        margin: 0 auto;
    }

    .products-list-item {
        width: 24%;
    }
}