<div class="checkout-container">
  <!-- Checkout Info -->
  <div class="checkout-info-container form-group">
    <!-- Checkout Form -->
    <div class="checkout-form-container">
        <label for="email-input">Email:</label>
        <input id="email-input" class="form-control"  type="email" placeholder="Enter your email address"/>

        <label for="">First Name:</label>
        <input id="first-name" class="form-control"  type="text" placeholder="Enter your first name">

        <label for="last-name">Last Name:</label>
        <input id="last-name" class="form-control"  type="text" placeholder="Enter your last name">

        <label for="address-one-input">Address Line 1:</label>
        <input id="address-one-input" class="form-control"  type="text" placeholder="Enter address">

        <label for="address-two-input">Address Line 2:</label>
        <input id="address-two-input" class="form-control"  type="text" placeholder="Enter address">

        <label for="city-input">City:</label>
        <input id="city-input" class="form-control"  type="text" placeholder="Enter city">

        <label for="postcode-input">Postcode:</label>
        <input for="postcode-input" class="form-control"  type="text" placeholder="Enter postcode">
    </div>

    <!-- Checkout Delivery -->
    <div class="checkout-delivery-container">
        <h4>Delivery Options</h4>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
                Royal Mail Second Class - From £2.71
            </label> <br/>
            <small>Delivery time: 2 - 3 working days</small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
                Royal Mail First Class - From £2.71
            </label> <br/>
            <small>Delivery time: 1 - 2 working days</small>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                  Royal Mail Tracked48 - £3.28
              </label> <br/>
              <small>Delivery time: 2 - 3 working days</small>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                  Royal Mail Tracked24 - From £4.68
              </label> <br/>
              <small>Delivery time: 1 - 2 working days</small>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                  DPD Express Next Day - £5.05
              </label> <br/>
              <small>Delivery time: 1 working day</small>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                  DPD Weekend Shipping - £7.10
              </label> <br/>
              <small>Delivery time: 1 working day</small>
          </div>

          <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">
                  Royal Mail Overnight - £6.40
              </label> <br/>
              <small>Delivery time: 1 working day</small>
          </div>
    </div>
    <!-- Checkout Payment -->
    <div class="checkout-payment-container">

    </div>
  </div>

  <!-- Checkout Summary -->
  <div class="checkout-summary-container">

  </div>
</div>

<!-- TODO
    1. Get all needed details
      - Full name
      - Address
      - Email
    2. Provide delivery options
    3. Choose payment method
    4. Show summary
 -->