<div class="w3slideraits show-in-full">
    <div class="fluid_dg_wrap fluid_dg_emboss pattern_1 fluid_dg_white_skin" id="fluid_dg_wrap_4">
        <div data-thumb="images/slide-1-small.jpg" data-src="images/top-slides/slide-1.jpg"></div>
        <div data-thumb="images/slide-2-small.jpg" data-src="images/top-slides/slide-2.jpg"></div>
        <div data-thumb="images/slide-3-small.jpg" data-src="images/top-slides/slide-3.jpg"></div>
        <div data-thumb="images/slide-4-small.jpg" data-src="images/top-slides/slide-4.jpg"></div>
        <div data-thumb="images/slide-5-small.jpg" data-src="images/top-slides/slide-5.jpg"></div>
    </div>
</div>

<div class="w3slideraits show-in-small">

</div>