<div class="agileheader" id="agileitshome">
        <h1>{{selectedCategory}}</h1>
        <!-- Navigation -->
        <nav class="navbar navbar-default w3ls navbar-fixed-top">
          <div class="container">
            <div class="navbar-header wthree nav_2 small-header">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand agileinfo logo-1" href="index.html" (click)="goToHomePage()">
                <img id="header-logo" src="images/new-logo.gif" alt="logo">
                <span>Better Love</span>
              </a> 
              <ul class="w3header-cart">
                <li class="wthreecartaits"><span class="my-cart-icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="badge badge-notify my-cart-badge"></span></span></li>
              </ul>
            </div>
            <div id="bs-megadropdown-tabs" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li *ngFor="let category of categories">
                    <a href="#" class="dropdown-toggle w3-agile hyper" data-toggle="dropdown"><span>{{category.name}}</span></a>
                    <ul class="dropdown-menu aits-w3 multi multi1">
                       <div class="row">
                          <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-1 categories-top-bar">
                              <ul class="multi-column-dropdown">
                                  <li *ngFor="let subCategory of category.subCategories" class="pointer-cursor" (click)="changeCategory(subCategory.name)">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    {{subCategory.name}}
                                  </li>
                              </ul>
                          </div>
                          <div class="col-sm-3 w3layouts-nav-agile w3layouts-mens-nav-agileits w3layouts-mens-nav-agileits-2 categories-top-bar block-menu pointer-cursor" *ngFor="let sub of category.subCategories" (click)="changeCategory(sub.name)">
                              <p>{{sub.name}}</p>
                              <img src="{{sub.img}}" alt="{{sub.name}}">
                           </div>

                           <!-- <div class="clearfix"></div>
                           <p class="promo">Use Promo Code <span>#CFFGTY56</span> and take 30% off the products. <a href="#">Details</a></p> -->
                       </div>
                    </ul>
                </li>

                <!-- <li><a href="about.html">ABOUT</a></li> -->
                <li class="wthreesearch">
                  <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Search for a Product" required="">
                    <button type="submit" class="btn btn-default search" aria-label="Left Align">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                  </form>
                </li>
                <li class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button> 
                  <div>
                      <span class="cart-values" *ngIf="basketValues.itemsCount">{{basketValues.itemsCount > 1 ? basketValues.itemsCount + ' items' : basketValues.itemsCount + ' item'}}</span>
                      <span class="cart-values" *ngIf="basketValues.itemsCount">£{{basketValues.totalCost}}</span>
                  </div> 
                </li>
              </ul>
            </div>
      
          </div>
        </nav>
        <!-- //Navigation -->
      
      
      
        <!-- Header-Top-Bar-(Hidden) -->
        <div class="agileheader-topbar">
          <div class="container">
            <!-- <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid1">
              <p>Free shipping on orders over $150. <a href="payment.html">Details</a></p>
            </div> -->
            <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid2 submenu">
              <ul>
                <li><a href="stores.html">Store Locator</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li><a class="popup-with-zoom-anim" href="#small-dialog1">Login</a></li>
                <li><a class="popup-with-zoom-anim" href="#small-dialog2">Sign Up</a></li>
                <li><a href="codes.html">Codes</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
      
            <!-- Popup-Box -->
            <div id="popup1">
              <div id="small-dialog1" class="mfp-hide agileinfo">
                <div class="pop_up">
                  <form action="#" method="post">
                    <h3>LOGIN</h3>
                    <input type="text" Name="Userame" placeholder="Username" required="">
                    <input type="password" Name="Password" placeholder="Password" required="">
                    <ul class="tick w3layouts agileinfo">
                      <li>
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1"><span></span>Remember me</label>
                      </li>
                      <li>
                        <a href="#">Forgot Password?</a>
                      </li>
                    </ul>
                    <div class="send-button wthree agileits">
                      <input type="submit" value="LOGIN">
                    </div>
                  </form>
                </div>
              </div>
              <div id="small-dialog2" class="mfp-hide agileinfo">
                <div class="pop_up">
                  <form action="#" method="post">
                    <h3>SIGN UP</h3>
                    <input type="text" Name="Name" placeholder="Name" required="">
                    <input type="text" Name="Email" placeholder="Email" required="">
                    <input type="password" Name="Password" placeholder="Password" required="">
                    <input type="text" Name="Phone Number" placeholder="Phone Number" required="">
                    <div class="send-button wthree agileits">
                      <input type="submit" value="SIGN UP">
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- //Popup-Box -->
      
        </div>
        <!-- //Header-Top-Bar-(Hidden) -->
        <header-slider *ngIf="!selectedCategory"></header-slider>
      
      </div>

      <model-slider *ngIf="!selectedCategory"></model-slider>
      <!-- //Header -->
      