	<!-- Single-Product-View -->
	<div class="w3aitssinglewthree">
            <div *ngIf="loading" class="loader-container"><i class="fas fa-spinner fa-pulse loader-margin"></i></div>
            <div *ngIf="!loading" class="container">
                <div class="products">
                <div class="single-page">
                    <div class="single-page-row" id="detail-21">
                        <div class="col-md-6 single-top-left">
                            <div class="flexslider">
                                <div class="thumb-image detail_images"> 
                                    <img *ngIf="product.xlImage2 && product.xlImage2 !== '{}'" src="{{'images/hires/' +  currentImage}}" data-imagezoom="true" class="img-responsive">
                                    <img *ngIf="!product.xlImage2 || product.xlImage2 === '{}'" src="{{'images/main/' + currentImage}}" data-imagezoom="true" class="img-responsive">
                                </div>
                                <ul class="sliders-container">
                                    <li *ngIf="product.xlImage2 && product.xlImage2 !== '{}' && currentImage !== product.xlImage2" (click)="changeImage(product.xlImage2)"><img src="{{'images/hires/' + product.xlImage2}}"></li>
                                    <li *ngIf="product.xlImage3 && product.xlImage3 !== '{}' && currentImage !== product.xlImage3" (click)="changeImage(product.xlImage3)"><img src="{{'images/hires/' + product.xlImage3}}"></li>
                                    <li *ngIf="product.xlImage4 && product.xlImage4 !== '{}' && currentImage !== product.xlImage4" (click)="changeImage(product.xlImage4)"><img src="{{'images/hires/' + product.xlImage4}}"></li>
                                    <li *ngIf="product.xlImage5 && product.xlImage5 !== '{}' && currentImage !== product.xlImage5" (click)="changeImage(product.xlImage5)"><img src="{{'images/hires/' + product.xlImage5}}"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 single-top-right">
                            <h1 class="item_name">{{product.name}}</h1>
                            <p>Brand: {{product.brandName}}</p>
                            <div class="rating">
                                    <p>
                                        <span class="review-star"><i class="fas fa-star"></i></span>
                                        <span class="review-star"><i class="fa-star" [ngClass]="{'far': averageRanking < 2, 'fas': averageRanking > 1}"></i></span>
                                        <span class="review-star"><i class="fa-star" [ngClass]="{'far': averageRanking < 3, 'fas': averageRanking > 2}"></i></span>
                                        <span class="review-star"><i class="fa-star" [ngClass]="{'far': averageRanking < 4, 'fas': averageRanking > 3}"></i></span>
                                        <span class="review-star"><i class="fa-star" [ngClass]="{'far': averageRanking < 5, 'fas': averageRanking > 4}"></i></span>
                                    </p>
                            </div>
                            <div class="single-price">
                                <ul>
                                    <li>£{{product.rpr}}</li> <!--<small>10% Off</small> -->
                                    <!-- <li><del>$75</del></li>
                                    <li>Ends on: Nov,15th</li>
                                    <li><a href="#"><i class="fa fa-gift" aria-hidden="true"></i>Apply Coupon</a></li> -->
                                </ul>
                            </div>
                            <p class="single-price-text">AVAILABILITY:
                                <span [ngStyle]="{'color': productStock && productStock.inStock ? 'green' : 'red'}">{{productStock && productStock.inStock ? 'In Stock' : 'Out Of Stock'}}</span>
                            </p>
                            <div class="cbp-pgcontent aitssinglew3 add-to-cart-row" id="mens_single">
                                <input class="form-control qty" type="number" min="0" placeholder="Qty" [(ngModel)]="quantity">
                                <select *ngIf="productStock && productStock.size" [(ngModel)]="size">
                                    <option *ngFor="let s of productStock.size" [ngValue]="s.Size">{{s.Size}}</option>
                                </select>
                                <button [disabled]="!productStock || !productStock.inStock" class="btn btn-danger agileits my-cart-btn" (click)="basket.addToBasket(quantity, product)" [attr.title]="!productStock || !productStock.inStock ? 'Sorry, item is out of stock.' : ''"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                                <div class="clearfix"></div>
                            </div>
    
                            <!-- <div class="agilesocialwthree">
                                <h4>Share this Product</h4>
                                <ul class="social-icons">
                                    <li><a href="#" class="facebook w3ls" title="Go to Our Facebook Page"><i class="fa w3ls fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="twitter w3l" title="Go to Our Twitter Account"><i class="fa w3l fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="googleplus w3" title="Go to Our Google Plus Account"><i class="fa w3 fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#" class="instagram wthree" title="Go to Our Instagram Account"><i class="fa wthree fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
    
                <div class="aitsaccordionw3layouts">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Description <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body panel_text">
                                    <div class="scrollbar" id="style-2">
                                       {{product.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Specification<span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body panel_text">
                                    <div class="specifications" *ngIf="product.coulur && product.coulur !== ''">
                                        <p>Colour: </p>
                                        <p>{{product.coulur}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.washing && product.washing !== '{}'">
                                        <p>Washing: </p>
                                        <p>{{product.washing}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.flexability && product.flexability !== '{}'">
                                        <p>Flexability: </p>
                                        <p>{{product.flexability}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.waterproof && product.waterproof !== ''">
                                        <p>Waterproof: </p>
                                        <p>{{product.waterproof === 'f' ? 'No' : 'Yes'}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.designedForWho && product.designedForWho !== '{}'">
                                        <p>For Who: </p>
                                        <p>{{product.designedForWho === 'Both' ? 'Female and Male' : product.designedForWho}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.materialName && product.materialName !== '{}'">
                                        <p>Material Name: </p>
                                        <p>{{product.materialName}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.misc && product.misc !== '{}'">
                                        <p>Info: </p>
                                        <p>{{product.misc}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.insertable && product.insertable !== '{}'">
                                        <p>Insertable: </p>
                                        <p>{{product.insertable}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.noOfPills && product.noOfPills !== '{}'">
                                        <p>Number Of Pills: </p>
                                        <p>{{product.noOfPills}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.liquidVolume && product.liquidVolume !== ''">
                                        <p>Liquid Volume: </p>
                                        <p>{{product.liquidVolume}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.whatIsFor && product.whatIsFor !== '{}'">
                                        <p>What Is For: </p>
                                        <p>{{product.whatIsFor}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.features && product.features !== '{}'">
                                        <p>Features: </p>
                                        <p>{{product.features}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.opening && product.opening !== '[{}]'">
                                        <p>Opening: </p>
                                        <p>{{convertString(product.opening)}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.productPower && product.productPower !== '{}'">
                                        <p>Power: </p>
                                        <p>{{product.productPower}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.lubeType && product.lubeType !== '{}'">
                                        <p>Lube Type: </p>
                                        <p>{{product.lubeType}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.styleName && product.styleName !== '{}'">
                                        <p>Style: </p>
                                        <p>{{product.styleName}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.motion && product.motion !== '[{}]'">
                                        <p>Motion: </p>
                                        <p>{{convertString(product.motion)}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.controller && product.controller !== '{}'">
                                        <p>Controller: </p>
                                        <p>{{product.controller}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.fastening && product.fastening !== '{}'">
                                        <p>Fastening: </p>
                                        <p>{{product.fastening}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.whatIsIt && product.whatIsIt !== '{}'">
                                        <p>What Is It: </p>
                                        <p>{{product.whatIsIt}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.harnessCompatible && product.harnessCompatible !== 'f'">
                                        <p>Harness Compatible: </p>
                                        <p>Yes</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.diameter && product.diameter !== '{}'">
                                        <p>Diameter: </p>
                                        <p>{{product.diameter}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.productWidth && product.productWidth !== '{}'">
                                        <p>Width: </p>
                                        <p>{{product.productWidth}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.productLength && product.productLength !== '[{}]'">
                                        <p>Length: </p>
                                        <p>{{convertString(product.productLength)}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.productSize && product.productSize !== '[{}]'">
                                        <p>Size: </p>
                                        <p>{{convertString(product.productSize)}}</p>
                                    </div>
                                    <div class="specifications" *ngIf="product.condomSafe && product.condomSafe !== 'f'">
                                        <p>Condom Safe: </p>
                                        <p>Yes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Reviews<span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <input type="text" name="name" placeholder="Name" id="name-input-review" [(ngModel)]="reviewName">
                                <p (mouseleave)="resetStars()">
                                    <span class="review-star pointer-cursor"><i id="star-1" class="fas fa-star" (mouseenter)="toggleStarClass(starOne)" (click)="selectRanking(starOne)"></i></span>
                                    <span class="review-star pointer-cursor"><i id="star-2" class="fas fa-star" (mouseenter)="toggleStarClass(starTwo)" (click)="selectRanking(starTwo)"></i></span>
                                    <span class="review-star pointer-cursor"><i id="star-3" class="fas fa-star" (mouseenter)="toggleStarClass(starThree)" (click)="selectRanking(starThree)"></i></span>
                                    <span class="review-star pointer-cursor"><i id="star-4" class="fas fa-star" (mouseenter)="toggleStarClass(starFour)" (click)="selectRanking(starFour)"></i></span>
                                    <span class="review-star pointer-cursor"><i id="star-5" class="fas fa-star" (mouseenter)="toggleStarClass(starFive)" (click)="selectRanking(starFive)"></i></span>
                                </p>
                                <select [(ngModel)]="reviewRanking">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>                                    
                                </select>
                                <br>
                                <textarea rows="4" cols="100" placeholder="Write review ..." id="review-text" [(ngModel)]="reviewText"></textarea><br>
                                <div class="row">
                                     <button class="btn btn-secondary pull-right" (click)="addReview()">
                                         <span *ngIf="!savingReview">Add</span>
                                         <span *ngIf="savingReview"><i class="fas fa-spinner fa-spin"></i></span>
                                     </button>
                                </div>
                                <div *ngIf="!productReviews || !productReviews.length">
                                    <p>{{product.name}} has no reviews.</p>
                                </div>
                                <div *ngIf="!reviewsLoaded">
                                        <span><i class="fas fa-spinner fa-spin"></i></span>
                                </div>
                                <div *ngIf="reviewsLoaded && productReviews && productReviews.length">
                                        <div *ngFor="let review of currentPage">
                                            <p>{{review.name}}</p>
                                            <p>
                                                <span class="review-star"><i class="fas fa-star"></i></span>
                                                <span class="review-star"><i class="fa-star" [ngClass]="{'far': review.ranking < 2, 'fas': review.ranking > 1}"></i></span>
                                                <span class="review-star"><i class="fa-star" [ngClass]="{'far': review.ranking < 3, 'fas': review.ranking > 2}"></i></span>
                                                <span class="review-star"><i class="fa-star" [ngClass]="{'far': review.ranking < 4, 'fas': review.ranking > 3}"></i></span>
                                                <span class="review-star"><i class="fa-star" [ngClass]="{'far': review.ranking < 5, 'fas': review.ranking > 4}"></i></span>
                                            </p>
                                            <p>{{review.text}}</p>
                                            <hr />
                                        </div>
                                        <ul>
                                            <li class="pages-index" [ngClass]="{'page-selected': pageSelected === pageIndex}" *ngFor="let pageIndex of pagesIndex" (click)="changePage(pageIndex)">{{pageIndex + 1}}</li>
                                        </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title asd">
                                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Shipping Info <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <h3>Shipping</h3>
                                <ul class="ship">
                                    <li class="day"><i class="fa fa-calendar" aria-hidden="true"></i> 5-10 Business Days</li>
                                    <li class="home"><i class="fa fa-truck" aria-hidden="true"></i> Free Home Delivery</li>
                                    <li class="cod"><i class="fa fa-male" aria-hidden="true"></i> Cash On Delivery Available*</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            </div>
        </div>
        <!-- //Single-Product-View -->