.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.categories-top-bar p {
    font-size: .7em;
}

@media screen and (max-width: 1450px) {
    .block-menu {
        display: none;
    }
}