
@media screen and (min-width: 320px){
   .nav-logo {
       margin-left: 12%;
   }
   .my-cart-icon {
       margin-top: 8px;
   }
}

@media screen and  (min-width: 360px) {
   .header-container {
       height: 26vh;
   }
}


@media screen and (min-width: 400px) {
   .search-container {
       width: 70%;
       margin: 3% auto;
   }
}

@media screen and (min-width: 490px) {
   .nav-logo {
       margin-left: 20%;
   }

   .basket-item {
       width: 50%;
   }
   
   .basket-product-container {
       display: flex;
       justify-content: space-evenly;
   }

   .basket-item-info {
       display: flex;
       justify-content: flex-end;
       flex-direction: column;
   }
}

@media screen and (min-width: 540px) {
   .logo-container img {
       width: 8%;
   }
}

@media screen and (min-width: 667px) {
   .logo-container img {
       width: 6%;
   }
}

@media screen and (min-width: 765px) {
   .nav-logo {
       margin-left: 0;
   }

   .navbar-header {
       width: 17%;
   }

   #header-logo {
       width: 23%;
   }

   .w3view-cart {
       margin-top: 20%;
   }

}

@media screen and (min-width: 900px) {
   .basket-header {
       display: none;
   }

   .proceed-container {
       top: auto;
       background-color: white;
       border: 2px solid cornflowerblue;
       right: 1vw;
       width: 40vw;
   }

   .proceed-container p {
       color: black;
   }

   .proceed-header {
       display: inline;
   }

   .proceed-button {
       margin: 0 auto;
       width: 65%;
       border: 1px solid cornflowerblue;
       padding: 1%;
       margin-top: 3%;
       border-radius: 10px;
       background-color: cornflowerblue;
       opacity: 0.9;
       color: white;
       text-align: center;
   }

   .proceed-container p {
       writing-mode: initial;
   }

   .basket-item-container {
       width: 60%;
   }
}

@media screen and (max-width: 930px) {
   .navbar-nav {
       margin-top: 1%;
   }
}

@media screen and (min-width: 1100px) {
   .proceed-container {
       right: 2vw;
   }

   .basket-page-container {
       width: 70%;
   }
}

@media screen and (min-width: 1229px) {
   .navbar-header{
       width: 15%;
   }
}


@media screen and (min-width: 1270px) {
   .w3view-cart {
       margin-top: 27%;
   }
}

@media screen and (min-width: 1100px) {
   .basket-page-container {
       width: 80%;
   }

   .proceed-container {
       width: 30vw;
       right: 7vw;
   }
}

@media screen and (max-width: 1450px) {
   .basket-item-container {
       width: 50%;
   }

   .block-menu {
       display: none;
   }

   .show-in-full {
       display: none;
   }

   .dropdown-menu,
   .multi,
   .multi2
   .multi3,
   .multi4,
   .multi5 {
       left: 0 !important;
   }

   .categories-top-bar {
       width: 100%;
   }

   .dropdown-menu.multi {
       min-width: 200px;
   }
}

@media screen and (min-width: 1450px) {
   .show-in-small {
       display: none;
   }
} 

@media screen and (min-width: 1460px) {
   .navbar-nav {
       margin: 1% 7%;
   }
}

@media screen and (min-width: 1550px) {
   .proceed-container {
       right: 9vw;
   }
}