.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 37vh;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.pointer-cursor {
    cursor: pointer;
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.categories-top-bar p {
    font-size: .7em;
}

.show-in-small {
    background: url(./../images/top-slides/slide-1.jpg);
    background-size: cover;
}

.small-header {
    display: flex;
}

.shop-container {
    width: 100%;
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.nav-container {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.categories-top-bar p {
    font-size: .7em;
}

.nav-logo {
    padding: 0;
    color: red;
}

.nav-logo a:hover,
.nav-logo a:focus {
    color:red;
}

.side-menu {
    flex-basis: 20%;
    height: 600px;
    border-right: 1px solid red;
}

.products-cart {
    float: right;
}

.products-cart span {
    color: blue;
}

.pages-index-container {
    text-align: right;
    margin-right: 2%;
    margin-bottom: 2%;
}

.page-selected {
    background-color: dodgerblue;
    color: white;
}

.pages-index {
  display: inline-block;
  cursor: pointer;
  border: 1px solid lightgray;
  margin-left: 0.2%;
  width: 1.4%;
  text-align: center;
  border-radius: 25%;
  font-size: 1.2em;
  font-family: 'Noto Serif', serif;
}

.pages-index:hover {
    background-color: dodgerblue;
    color: white;
}

.specifications {
    padding-left: 1%;
}

.specifications p {
    display: inline-block;
    width: 20%;
}

.sliders-container {
    padding-top: 1%;
    list-style: none;
} 

.sliders-container li {
    display: inline-block;
    width: 20%;
    padding-left: 1%;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .nav-logo {
        margin-left: 12%;
    }
    .my-cart-icon {
        margin-top: 8px;
    }
}

@media screen and (min-width: 490px) {
    .nav-logo {
        margin-left: 20%;
    }
}

@media screen and (min-width: 765px) {
    .nav-logo {
        margin-left: 0;
    }

    .navbar-header {
        width: 17%;
    }

    #header-logo {
        width: 23%;
    }

    .w3view-cart {
        margin-top: 20%;
    }

}

@media screen and (max-width: 930px) {
    .navbar-nav {
        margin-top: 1%;
    }
}

@media screen and (min-width: 1229px) {
    .navbar-header{
        width: 15%;
    }
}


@media screen and (min-width: 1270px) {
    .w3view-cart {
        margin-top: 27%;
    }
}

@media screen and (max-width: 1450px) {
    .block-menu {
        display: none;
    }

    .show-in-full {
        display: none;
    }

    .dropdown-menu,
    .multi,
    .multi2
    .multi3,
    .multi4,
    .multi5 {
        left: 0 !important;
    }

    .categories-top-bar {
        width: 100%;
    }

    .dropdown-menu.multi {
        min-width: 200px;
    }
}

@media screen and (min-width: 1450px) {
    .show-in-small {
        display: none;
    }
} 

@media screen and (min-width: 1460px) {
    .navbar-nav {
        margin: 1% 7%;
    }
}