.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 37vh;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.categories-top-bar p {
    font-size: .7em;
}

.show-in-small {
    background: url(./../images/top-slides/slide-1.jpg);
    background-size: cover;
}

.small-header {
    display: flex;
}

.shop-container {
    width: 100%;
}

.categories-top-bar {
    width: 15%;
    margin-bottom: 15px;
}

.nav-container {
    padding-right: 1%;
    padding-left: 1%;
    margin-right: auto;
    margin-left: auto;
}

.categories-top-bar p {
    font-size: .7em;
}

.nav-logo {
    padding: 0;
    color: red;
}

.nav-logo a:hover,
.nav-logo a:focus {
    color:red;
}

@media screen and (min-width: 320px) {
    .nav-logo {
        margin-left: 12%;
    }
    .my-cart-icon {
        margin-top: 8px;
    }
}

@media screen and (min-width: 490px) {
    .nav-logo {
        margin-left: 20%;
    }
}

@media screen and (min-width: 765px) {
    .nav-logo {
        margin-left: 0;
    }

    .navbar-header {
        width: 17%;
    }

    #header-logo {
        width: 23%;
    }

    .w3view-cart {
        margin-top: 20%;
    }

}

@media screen and (max-width: 930px) {
    .navbar-nav {
        margin-top: 1%;
    }
}

@media screen and (min-width: 1229px) {
    .navbar-header{
        width: 15%;
    }
}


@media screen and (min-width: 1270px) {
    .w3view-cart {
        margin-top: 27%;
    }
}

@media screen and (max-width: 1450px) {
    .block-menu {
        display: none;
    }

    .show-in-full {
        display: none;
    }

    .dropdown-menu,
    .multi,
    .multi2
    .multi3,
    .multi4,
    .multi5 {
        left: 0 !important;
    }

    .categories-top-bar {
        width: 100%;
    }

    .dropdown-menu.multi {
        min-width: 200px;
    }
}

@media screen and (min-width: 1450px) {
    .show-in-small {
        display: none;
    }
} 

@media screen and (min-width: 1460px) {
    .navbar-nav {
        margin: 1% 7%;
    }
}