@media screen and (min-width: 765px) {
    .header-container {
        display: flex;
        flex-direction: row;
        height: 20vh;
    }
    .logo-container {
        text-align: center;
        margin-left: 1%;
        width: 10%;
    }

    .logo-container img {
        width: 70%;
        height: 70%;
    }
    
   .nav-logo {
       margin-left: 0;
   }

   .navbar-header {
       width: 17%;
   }

   .navigation-container {
       width: 90%;
       justify-content: flex-end;
       align-items: center;
   }

   .nav-button {
       display: none;
   }

   .inline-navigation {
       display: initial;
       width: 100%;
       text-align: right;
   }

   .inline-list {
       width: 100%;
       list-style-type: none;
       text-align: left;
       margin-left: 10%;
   }

   .inline-list li {
       display: inline-block;
       cursor: pointer;
       font-size: 1.5em;
       margin-right: 6%;
   }

   .inline-list li:hover {
       color: white;
       text-shadow: 1px 1px 1px black;
   }

   .inline-sub-list {
        display: block;
        position: absolute;
        z-index: 10000;
        list-style-type: none;
        text-align: left;
        background-color: lightgray;
        color:  #e50000;
        font-size: 0.8em;
        width: auto;
        padding-left: 1%;
        padding-right: 1%;
   }

   .inline-sub-list li {
        display: list-item;
        font-size: 1em;
        line-height: 2.4em;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin: 0;
        text-shadow: 0 0 0;
   }

   .inline-sub-list li:hover {
       color: mediumpurple;
       text-shadow: 0 0 0;
   }

   .inline-sub-sub-list {
        display: block;
        list-style-type: none;
        position: absolute;
        left: 100%;
        color: black;
        width: 100%;
        padding-left: 2%;
        padding-right: 1%;
        background-color: #f5f5f5;
        color: #ff0000;
   }

   .subCategories-arrow {
        margin-right: 5px;
        margin-top: 12px;
        float: right;
        margin-left: 5px;
   }

   .basket-container {
       width: initial;
       padding: 0;
       margin: 0;
       margin-right: 3%;
   }

   .search-container {
       width: initial;
       padding: 0;
       margin: 0;
   }

   #header-logo {
       width: 23%;
   }

   .w3view-cart {
       margin-top: 20%;
   }

   .main-container {
       padding-top: 20vh;
   }

}

@media screen and (min-width: 900px) {
   .basket-header {
       display: none;
   }

   .proceed-container {
       top: auto;
       background-color: white;
       border: 2px solid cornflowerblue;
       right: 1vw;
       width: 40vw;
   }

   .proceed-container p {
       color: black;
   }

   .proceed-header {
       display: inline;
   }

   .proceed-button {
       margin: 0 auto;
       width: 65%;
       border: 1px solid cornflowerblue;
       padding: 1%;
       margin-top: 3%;
       border-radius: 10px;
       background-color: cornflowerblue;
       opacity: 0.9;
       color: white;
       text-align: center;
   }

   .proceed-container p {
       writing-mode: initial;
   }

   .basket-item-container {
       width: 60%;
   }
}

@media screen and (max-width: 930px) {
   .navbar-nav {
       margin-top: 1%;
   }
}

@media screen and (min-width: 1100px) {
   .proceed-container {
       right: 2vw;
   }

   .basket-page-container {
       width: 70%;
   }
}

@media screen and (min-width: 1229px) {
   .navbar-header{
       width: 15%;
   }
}


@media screen and (min-width: 1270px) {
   .w3view-cart {
       margin-top: 27%;
   }
}

@media screen and (min-width: 1100px) {
   .basket-page-container {
       width: 80%;
   }

   .proceed-container {
       width: 30vw;
       right: 7vw;
   }
}

@media screen and (max-width: 1450px) {
   .basket-item-container {
       width: 50%;
   }

   .block-menu {
       display: none;
   }

   .show-in-full {
       display: none;
   }

   .dropdown-menu,
   .multi,
   .multi2
   .multi3,
   .multi4,
   .multi5 {
       left: 0 !important;
   }

   .categories-top-bar {
       width: 100%;
   }

   .dropdown-menu.multi {
       min-width: 200px;
   }
}

@media screen and (min-width: 1450px) {
   .show-in-small {
       display: none;
   }
} 

@media screen and (min-width: 1460px) {
   .navbar-nav {
       margin: 1% 7%;
   }
}

@media screen and (min-width: 1550px) {
   .proceed-container {
       right: 9vw;
   }

   inline-list li {
       font-size: 1.7em;
   }
}